.friendIcon{
    font-size: xx-large;
    color: var(--primary-color-light);
    cursor: pointer;

}

.body{
    min-height: 500px;
    min-width: 350px;
    max-height: 500px;
    max-width: 350px;
    position: absolute;
    z-index: 2;
    margin-right: 4%;
    border-radius: 10px;
    right: 0;
    flex-direction: column;
    display: none;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    background-color: var(--secondary-color);
    border: 1px solid var(--secondary-color-light);
}

.body::after{
    /* A pointy arraow on top*/
    content: "";
    position: absolute;
    top: -10px;
    right: 5px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid var(--secondary-color-light);
}

.notifBody{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subtitleName{
    margin: 0;
    color: grey;
    font-size: small;
}

.sendFrqSec{
    margin: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.inputC{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.input{
    margin-top: 2%;
    border: none;
    border-bottom: 2px solid var(--primary-color);
    width: 200px;
    background: none;
    color: var(--secondary-color-light);
    margin-right: 40px;
    outline: none;
}

.input::placeholder{
    color: var(--secondary-color-light);
    caret-color: var(--secondary-color-light);
}

.sendBtn{
    border: 2px solid var(--primary-color);
    background: none;
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
    color: var(--primary-color-light);
    cursor: pointer;
}

.sendBtn:hover{
    background: var(--primary-color-light);
    color: var(--secondary-color-light);
}


.breaker{
   width: 300px;
   background-color: var(--secondary-color-light);
   height: 3px;
   border-radius: 10px;
}

