.friendIcon{
    font-size: xx-large;
    color: var(--primary-color-light);
    cursor: pointer;

}

.inputContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container{
   width: 75vw;
   height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
}


.friendsLst{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50vw;
}

.subtitleName{
    margin: 0;
    color: grey;
    font-size: small;
}

.sendFrqSec{
    margin: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}


.input{
    margin-top: 2%;
    border: none;
    border-bottom: 2px solid var(--primary-color);
    width: 50vw;
    background: none;
    color: var(--secondary-color-light);
    margin-right: 40px;
    outline: none;
    background-color: var(--secondary-color);
    padding: 10px 10px 10px 5px;
    border-radius: 3px;
}


.input::placeholder{
    color: var(--secondary-color-light);
    caret-color: var(--secondary-color-light);
}

.sendBtn{
    border: 2px solid var(--primary-color);
    background: none;
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
    color: var(--primary-color-light);
    cursor: pointer;
}

.sendBtn:hover{
    background: var(--primary-color-light);
    color: var(--secondary-color-light);
}


.breaker{
   width: 50vw;
   background-color: var(--secondary-color-light);
   border: none;
   height: 2px;
   margin: 0;
   margin-top: 5px;
   margin-left: 10px;
   border-radius: 10px;
}

.frq_card{
    margin-top: 2%;
    padding: 10px;
    border-radius: 10px;
    width: 45vw;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--secondary-color-light);
}

.friendName{
    margin-right: 2%;
    font-size: small;
    color: var(--primary-color-light);
}

.Inputs{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
}

.btn{
    color: white;
    margin-right: 5%;
    border: 2px solid var(--primary-color);
    background: none;
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: large;
}

.btn:hover{
    color:  var(--primary-color-light);
}