.container{
    min-width: 80vw;
    padding-right: 5px;
    height: 60px;
    display: flex;
    flex-direction: row;
    box-shadow: rgba(14, 14, 14, 0.2) 0px 7px 29px 0px;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-color);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom: 1px solid var(--secondary-color-light);
}

.btn{
    padding-right: 20px;  
}

.callBtn{
    font-size: 1.5rem;
    color: var(--primary-color-mid);
    cursor: pointer;
}

.callBtn:hover{
    color: white;
}

.username{
    padding-left: 10px;
    margin: 0;
    font-size: medium;
    color: var(--primary-color-light);
    font-weight: normal;
}

.callPopup{
    position: absolute;
    min-width: 80vw;
    max-width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 30vh;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: var(--secondary-color);
}


.userVideo{
    margin-top: 1vh;
    width: 145px;
    height: 150px;
    border-radius: 50%;
    background-color: var(--secondary-color-light);
    object-fit: cover;
}



.ctrl_btn{
    background:none;
    background-color: var(--secondary-color-light);
    border: none;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px 25px 10px 25px;
    border-radius: 10px;
    color: var(--primary-color-mid);
    cursor: pointer;
}

.ctrl_btn:hover{
    color: var(--primary-color-light);
    border: 1px solid white;
}

.CallPrompt{
    position: absolute;
    min-width: 100vw;
    background-color: var(--secondary-color-hover);
}